html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
}

header h1, header p {
  color: #fff;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  padding: .5rem 2.5rem;
  font-family: serif;
}

form div label span {
  color: #6e8c62;
}

footer {
  background-color: #70ad55;
}

footer p {
  color: #fff;
}

input , select {
  border-color: #6e8c62;
}
